<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HnH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <p class="top-menu">Hello {{ user.username }} </p>
        {% endif %}
        <h1><a href="{% url 'post_list_home' %}">HnH</a></h1>
        <!-- </div> -->
        <nav class="navbar navbar-default">            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="{% url 'post_list_home' %}">Home</a></li>
                <li><a href="{% url 'show_map' %}">Search Map</a></li>
                <li><a href="https://developer.edamam.com/recipe-demo">Recipes</a></li>
                <li><a href="#">Event</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'post_list_home' %}">Find friends to eat together!</a></li>
                        <li><a href="{% url 'post_new' %}">Post</a></li>
                        <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                        <li><a href="{% url 'register_user' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <!-- HTML 주석 -->
    {# 파이썬 주석1 #}
    {% comment %} 파이썬 주석2 {% endcomment %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>